* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
  background-color: #c80536;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  color: rgb(255, 255, 255);
  font-family: inherit;
}
.title {
  font-size: clamp(4rem, 9vw, 14rem);
  font-weight: 800;
}

.subtitle {
  font-size: clamp(3rem, 3.5vw, 5rem);
  margin: 11rem 0rem 7rem 0rem;
  font-style: italic;

  color: #fdf033;
}
.h2 {
  font-size: clamp(1.2rem, 3vw, 4rem);
}

.h3 {
  font-size: clamp(1.2rem, 3vw, 4rem);
  color: black;
}

.faq {
  text-align: center;
}

.faq-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-style: italic;
}

.q-cnt {
  text-align: left;
  padding: 2rem;
}
.p {
  font-size: clamp(1rem, 2.2vw, 3rem);
  color: rgb(255, 255, 255);
  list-style-type: square;
  margin: 1.8rem 0rem;
}

.q {
  font-size: clamp(1rem, 2.2vw, 2.5rem);
  color: rgb(199, 199, 199);
}

.main {
  display: flex;
  flex-direction: column;
}

.cnt_text {
  text-align: center;
  margin: 0rem 0rem 6rem 0rem;
}

.cnt_model {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
model-viewer#reveal {
  --poster-color: transparent;
  --progress-bar-color: #fdf033;
  --progress-bar-height: 1rem;
}

.cnt_model:focus {
  border: none;
  outline: none;
  padding: 0;
  border: none;
  background: none;
}

.model {
  width: 100%;
  height: 100%;
}

.btn {
  background-color: rgb(10, 10, 10);
  border-radius: 0.6rem;
  padding: 1rem 1.2rem;
  transition: 0.4s ease-in-out;
  margin-left: 1rem;
  font-family: inherit;
  color: white;
  border: black;
}

.btn:hover {
  border: 2px solid black;
  color: rgb(17, 17, 17);
  background-color: rgb(255, 248, 248);
  transform: scale(1.05);
}

@media screen and (max-width: 650px) {
  .title {
    line-height: 9rem;
  }
}
